<div class="container text-center">
  <h1>Wagon Hunt</h1>
  <p>Find best products</p>

  <p>
    <strong> Beaucoup de nouveaux </strong> produits le <%= @today %>
  </p>
  <%= link_to "All products", products_path, class:"btn btn-success" %>
</div>
