<div class="container text-center">
  <h1>Meet the Team</h1>

    <%= cl_image_tag "orautxrirkt0il5uq5ft", height: 200, width: 800, crop: :fill %>

    <ul>
      <% @members.each do |member| %>
      <li> Member : <%= member %> </li>
    <% end %>
    </ul>
</div>


